.sign{


position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
height: 100vh;
background-color: #f0f2f0;

font-family:Arial, Helvetica, sans-serif;

}

 .sign_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
    background-color: #f0f2f0;
 }

 
 .sign_logo img{
    
    height: 12vh;
   
 }


.sign_form{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 70vh;
    
    background-color:#f0f2f0;

}

.sign_form_inner{
  
  height: 68vh;
  width: 450px;
  background-color: white;

  
}

.sign_form_inner_one{
    background-color: white;
    height: 3.5vh;
    text-align: center;
    padding-top: 10px;
    font-size: 27px;

    }
    .sign_form_inner_two{
    
        
        height: 2vh;
        text-align: center;
        color: #999292;
        font-size: 18px;
    
    }

    .sign_form_inner hr{

    border: 1px solid #e6e1e1;

    }

    .sign_form_inner_all{

   background-color:white;
   height:59.5vh;
    }

    .firstname{
        border-radius: 5px;
        height: 37px;
        width: 200px;
        margin: 10px;
       border: 1px solid #999292;
     padding-left: 10px;
    }

    .lastname{
        border-radius: 5px;
        height: 37px;
        width: 195px;
        margin-right: 10px;
        border: 1px solid #999292;
     padding-left: 10px;
    }

    .mobilenumber{

        border-radius: 5px;
        height: 37px;
        width: 416px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        border: 1px solid #999292;
     padding-left: 10px;
    }
    .newpassword{

        border-radius: 5px;
        height: 37px;
        width: 416px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        border: 1px solid #999292;
     padding-left: 10px;

    }

    .dob{

        margin-left: 10px;
        font-size: 12px;
    }

    .box{
        display: grid;
        grid-template-columns: auto auto auto;
        margin-right: 10;
        

    }

    .box_1{
        text-align: center;
        margin: 10px;
       height: 30px;
        border: 1px solid #999292;
        padding: 13px;
        border-radius: 10px;
        cursor: pointer;
        
    }

    .sign_form_inner_all p{

        font-size: 12px;
        margin: 14px;


    }

    .but{

        height: 40px;
        width: 170px;
        align-items: center;
        margin-top: 15px;
        margin-left: 130px;
        font-size: 20px;
        color: white;
        border-radius: 10px;
        border: 1px solid #00a400;
        background-color: #00a400;
        cursor: pointer;
    }

    .but:hover{
        background-color: #019201;
        color: rgb(243, 240, 240);
        

    }

    .sign_form_inner_all a{

        font-size: 17px;
        color: #1877f2;
        margin-top: 15px;
        margin-left: 115px;
    }

    .footer{
        padding: 10px;
        background-color: white;
        height: 15vh;
      margin: 10px;
      font-size: 12px;
    }

    .scroll select{
       
        height: 40px;
        width: 125px;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 10px ;
    }

    .box1{
        display: grid;
        grid-template-columns: 150px 150px 140px;
        margin-right: 10;
        

    }
