body{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f0f2f0;
    color: #1c1e21;

}



.row{
 display: grid;
 grid-template-columns: auto auto;
 justify-content:center;
 align-items: center;
 width: 100%;
 height: 70vh;

}

.title-box{
  width: 700px;

}
.title-box img{
width: 500px;
margin-bottom: -40px;

}
.form-box{
    width: 400px;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    margin-left: 60px;
    box-shadow:#f0f2f0;
    border-radius: 5px;

}

.form-box input{
    width: 100%;
    margin-bottom: 5px;
    padding: 15px;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid #eeebeb;
    border-radius: 5px;
    
}

.form-box button{
    width: 100%; 
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #226bca;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    padding: 13px;

}
.form-box buttonz:hover{
    background-color: #0e3363;

}
.form-box a{
    color: #166fe5;
    font-size: 16px;
    text-decoration: none;
    margin-top: 25px;
    margin-bottom: 20px;
    

}
.form-box a:hover{
    text-decoration: underline;

}
.form-box p{

    font-size: 15px;
}

.footer-content{
    height:30vh;
    text-align: center;

}
.footer-content p{
    font-size: 20px;

}